{% extends 'base/base.html' %}
{% block 'title' %} Tables {% endblock %}
{% load static %}
{% block 'script' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
{% block 'body' %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">New Reservations</h4>
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                            <tr class="text-center">
                                <th>Table</th>
                                <th>Pax</th>
                                <th>Reservation Time</th>
                                <th>Reserved By</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for n in new %}
                                <tr class="text-center">
                                    <td class="align-middle"><span
                                            class="font-weight-bold">{{ n.reservation.table.tableName }}</span></td>
                                    <td class="align-middle font-weight-bold">{{ n.reservation.groupSize }}</td>
                                    <td class="align-middle" width="30%"><span
                                            class="text-danger font-weight-bold">{{ n.reservation.startDate|date:"M jS, Y" }}</span><br>
                                        From <span
                                                class="font-weight-bold">{{ n.reservation.startDate|date:"h:i A" }}</span>
                                        to
                                        <span class="font-weight-bold">{{ n.reservation.endDate|date:"h:i A" }}</span>
                                    </td>
                                    <td class="align-middle">{{ n.reservation.user.first_name }} {{ n.reservation.user.last_name }}</td>
                                    <td class="align-middle">{{ n.reservation.user.phone_number }}</td>
                                    <td class="align-middle" width="20%"><a data-toggle="modal"
                                                                            data-target="#reservationApprove{{ n.reservation.id }}"
                                                                            class="btn btn-sm btn-rounded btn-outline-success">Approve</a>
                                        <a data-toggle="modal"
                                           data-target="#reservationCancel{{ n.reservation.id }}"
                                           class="btn btn-sm btn-rounded btn-outline-danger">Refuse</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Confirmed Reservations</h4>
                    <div class="table-responsive m-t-40">
                        <table id="myTable1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Table</th>
                                <th>Group Size</th>
                                <th>Reservation Time</th>
                                <th>Reserved By</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in confirmed %}
                                <tr class="text-center">
                                    <td class="align-middle"><span
                                            class="font-weight-bold">{{ c.table.tableName }}</span></td>
                                    <td class="align-middle font-weight-bold">{{ c.groupSize }}</td>
                                    <td class="align-middle" width="30%"><span
                                            class="text-danger font-weight-bold">{{ c.startDate|date:"M jS, Y" }}</span><br>
                                        From <span
                                                class="font-weight-bold">{{ c.startDate|date:"h:i A" }}</span>
                                        to
                                        <span class="font-weight-bold">{{ c.endDate|date:"h:i A" }}</span>
                                    </td>
                                    <td class="align-middle">{{ c.user.first_name }} {{ c.user.last_name }}</td>
                                    <td class="align-middle">{{ c.user.phone_number }}</td>
                                    <td class="align-middle" width="20%">
                                        <a data-toggle="modal"
                                           data-target="#reservationCancel{{ c.id }}"
                                           class="btn btn-sm btn-rounded btn-outline-danger">Refuse</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Success Reservations</h4>
                    <div class="table-responsive m-t-40">
                        <table id="myTable3" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Table</th>
                                <th>Group Size</th>
                                <th>Reservation Time</th>
                                <th>Reserved By</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for o in old %}
                                <tr>
                                    <td><span class="font-weight-bold">{{ o.table.tableName }}</span></td>
                                    <td>{{ o.groupSize }}</td>
                                    <td><span
                                            class="text-danger font-weight-bold">{{ o.startDate|date:"M jS, Y" }}:</span>
                                        From <span class="font-weight-bold">{{ o.startDate|date:"h:i A" }}</span> to
                                        <span class="font-weight-bold">{{ o.endDate|date:"h:i A" }}</span></td>
                                    <td>{{ c.user.first_name }} {{ o.user.last_name }}</td>
                                    <td>{{ c.user.phone_number }}</td>
                                    <td><a href="javascript:void(0)"
                                           class="btn btn-sm btn-rounded btn-outline-success">Approve</a>
                                        <a href="javascript:void(0)"
                                           class="btn m-t-5 btn-rounded btn-outline-danger">Refuse</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancelled Reservations</h4>
                    <div class="table-responsive m-t-40">
                        <table id="myTable2" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Table</th>
                                <th>Group Size</th>
                                <th>Reservation Time</th>
                                <th>Reserved By</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cn in cancelled %}
                                <tr>
                                    <td><span class="font-weight-bold">{{ cn.table.tableName }}</span></td>
                                    <td>{{ cn.groupSize }}</td>
                                    <td><span
                                            class="text-danger font-weight-bold">{{ cn.startDate|date:"M jS, Y" }}:</span>
                                        From <span class="font-weight-bold">{{ cn.startDate|date:"h:i A" }}</span> to
                                        <span class="font-weight-bold">{{ cn.endDate|date:"h:i A" }}</span></td>
                                    <td>{{ cn.user.first_name }} {{ cn.user.last_name }}</td>
                                    <td>{{ cn.user.phone_number }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for n in new %}
        <div class="modal fade" id="reservationApprove{{ n.reservation.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Approve Reservation - <b
                                class="text-danger">{{ n.reservation.table.tableName }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'approve-reservation' n.reservation.id %}" novalidate>
                            <div class="form-group">
                                <h5>Reservation Date: <span class="text-danger">*</span></h5>
                                <div class="input-group">
                                    <input type="date" id="reservationDate{{ n.reservation.id }}"
                                           onchange="getReservationTime{{ n.reservation.id }}()" value="{{ n.date }}"
                                           class="form-control"
                                           placeholder="dd/mm/yyyy" min="{{ n.date }}" max="{{ n.maxDate }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6" id="#fromTimeRangeSelect{{ n.reservation.id }}" hidden>
                                    <h5>From Time: <span class="text-danger">*</span></h5>
                                    <div class="input-group" id="#fromTimeInit{{ n.reservation.id }}">
                                        <select class="form-control" disabled>
                                            <option value="{{ n.fromTime }}" selected>{{ n.fromTime }}</option>
                                        </select>
                                    </div>
                                    <div class="input-group" id="fromTime{{ n.reservation.id }}">

                                    </div>
                                </div>
                                <div class="col-sm-6" id="#toTimeRangeSelect{{ n.reservation.id }}" hidden>
                                    <h5>To Time: <span class="text-danger">*</span></h5>
                                    <div class="input-group" id="#toTimeInit{{ n.reservation.id }}">
                                        <select class="form-control" disabled>
                                            <option value="{{ n.toTime }}" selected>{{ n.toTime }}</option>
                                        </select>
                                    </div>
                                    <div class="input-group" id="toTime{{ n.reservation.id }}">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="#tableSelect{{ n.reservation.id }}" hidden>
                                <h5>Select Table For Reservation: <span class="text-danger">*</span></h5>
                                <div class="input-group" id="#table{{ n.reservation.id }}">

                                </div>
                                <div class="input-group" id="#tableInit{{ n.reservation.id }}">
                                    <select class="form-control" disabled>
                                        <option value="{{ n.table }}" selected>{{ n.table }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5>Group Size: <span class="text-danger">*</span></h5>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-danger" type="button"
                                                onclick="decrementValue{{ n.reservation.id }}();"><b> - </b></button>
                                    </div>
                                    <input type="number" name="groupSize" readonly class="form-control"
                                           id="ordervalue{{ n.reservation.id }}" value="{{ n.reservation.groupSize }}"
                                           required min="1"
                                           max="10">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button"
                                                onclick="incrementValue{{ n.reservation.id }}();"><b> + </b></button>
                                    </div>
                                </div>
                                <br>
                                <script type="text/javascript">
                                    function incrementValue{{ n.reservation.id }}() {
                                        var value = parseInt(document.getElementById('ordervalue{{ n.reservation.id }}').value);
                                        if (value < 10) {
                                            value++;
                                        }
                                        document.getElementById('ordervalue{{ n.reservation.id }}').value = value;
                                    }

                                    function decrementValue{{ n.reservation.id }}() {
                                        var value = parseInt(document.getElementById('ordervalue{{ n.reservation.id }}').value);
                                        if (value > 1) {
                                            value--;
                                        }
                                        document.getElementById('ordervalue{{ n.reservation.id }}').value = value;
                                    }
                                </script>
                            </div>
                            <div class="form-group">
                                <h5>Remarks:</h5>
                                <textarea class="form-control" name="remarks"></textarea>
                            </div>
                            {% csrf_token %}
                            <button type="submit" id="#approveButton{{ n.reservation.id }}"
                                    class="btn btn-info btn-block waves-effect waves-light">Approve
                            </button>
                            <script>
                                console.log("=========For ID: {{ n.reservation.id }}=============")
                                var date{{ n.reservation.id }} = document.getElementById('reservationDate{{ n.reservation.id }}');
                                var fromTime{{ n.reservation.id }} = document.getElementById('fromTime{{ n.reservation.id }}');
                                var toTime{{ n.reservation.id }} = document.getElementById('toTime{{ n.reservation.id }}');

                                //Date Calculation for current day
                                var curentdate = new Date();
                                var dateString_hour = '';
                                var dateString_min = '';
                                var dateString = '';
                                var month = parseInt(curentdate.getMonth()) + 1;
                                dateString = `${curentdate.getFullYear()}-${month < 10 ? '0' + month : month}-${(curentdate.getMonth() < 10) ? '0' + curentdate.getDate() : curentdate.getDate()}`

                                var h = curentdate.getHours();
                                var m = curentdate.getMinutes();
                                if (h < 10) h = '0' + h;
                                if (m < 10) m = '0' + m;
                                dateString_hour = parseInt(h);
                                dateString_min = parseInt(m);

                                //Data got from views
                                var tableObj = {{ tableObj|safe }};
                                var rsvpObj = {{ res|safe }};
                                var timeRangeObj = {{ timeRange|safe }};


                                initialize{{ n.reservation.id }}();

                                function initialize{{ n.reservation.id }}() {
                                    var fromTime = document.getElementById('#fromTimeRangeSelect{{ n.reservation.id }}');
                                    var toTime = document.getElementById('#toTimeRangeSelect{{ n.reservation.id }}');
                                    var tables = document.getElementById('#tableSelect{{ n.reservation.id }}');
                                    fromTime.removeAttribute("hidden");
                                    toTime.removeAttribute("hidden");
                                    tables.removeAttribute("hidden");
                                }

                                //Populate Select Fields for from time
                                function getReservationTime{{ n.reservation.id }}() {
                                    curentdate = new Date();
                                    document.getElementById('#fromTimeRangeSelect{{ n.reservation.id }}').removeAttribute("hidden");
                                    document.getElementById('#fromTimeInit{{ n.reservation.id }}').setAttribute("hidden", "true");
                                    document.getElementById('#toTimeInit{{ n.reservation.id }}').setAttribute("hidden", "true");
                                    document.getElementById('#toTimeRangeSelect{{ n.reservation.id }}').setAttribute("hidden", "true");
                                    document.getElementById('#tableSelect{{ n.reservation.id }}').setAttribute("hidden", "true");
                                    document.getElementById('#tableInit{{ n.reservation.id }}').setAttribute("hidden", "true");
                                    document.getElementById('#approveButton{{ n.reservation.id }}').setAttribute("disabled", "true");
                                    let select = document.createElement('select');
                                    select.setAttribute("class", "form-control")
                                    select.setAttribute("id", "fromTimeRangeSelectElement{{ n.reservation.id }}")
                                    select.setAttribute("name", "fromDate");
                                    select.setAttribute("onchange", "getToTime{{ n.reservation.id }}()");
                                    for (f in timeRangeObj) {
                                        var selectedDate = new Date(date{{ n.reservation.id }}.value + " " + timeRangeObj[f].hour + ":00:00");
                                        var opt = document.createElement('option');
                                        if (dateString === date{{ n.reservation.id }}.value) {
                                            if (new Date(curentdate.getTime() + 30 * 60000) < selectedDate) {
                                                opt.value = selectedDate.getTime();
                                                opt.innerHTML = timeRangeObj[f].time;
                                                select.appendChild(opt);
                                            }
                                        } else {
                                            opt.value = selectedDate.getTime();
                                            opt.innerHTML = timeRangeObj[f].time;
                                            select.appendChild(opt);
                                        }

                                    }
                                    fromTime{{ n.reservation.id }}.replaceChild(select, fromTime{{ n.reservation.id }}.childNodes[0]);
                                }


                                //Populate To Time of reservation:
                                function getToTime{{ n.reservation.id }}() {
                                    var fromTimeStamp = document.getElementById('fromTimeRangeSelectElement{{ n.reservation.id }}');
                                    var fromTime = new Date(parseInt(fromTimeStamp.value));
                                    document.getElementById('#toTimeRangeSelect{{ n.reservation.id }}').removeAttribute("hidden");
                                    let select = document.createElement('select');
                                    select.setAttribute("class", "form-control")
                                    select.setAttribute("id", "toTimeRangeSelectElement{{ n.reservation.id }}")
                                    select.setAttribute("name", "toDate");
                                    select.setAttribute("onchange", "getTables{{ n.reservation.id }}()");

                                    var count = 0;
                                    for (t in timeRangeObj) {
                                        var selectedDate = new Date(date{{ n.reservation.id }}.value + " " + timeRangeObj[t].hour + ":00:00");
                                        var opt = document.createElement('option');
                                        if ((timeRangeObj[t].hour > fromTime.getHours()) && (count < 5)) {
                                            opt.value = selectedDate.getTime();
                                            opt.innerHTML = timeRangeObj[t].time;
                                            select.appendChild(opt);
                                            count++;
                                        }
                                    }
                                    toTime{{ n.reservation.id }}.replaceChild(select, toTime{{ n.reservation.id }}.childNodes[0]);
                                }

                                function getTables{{ n.reservation.id }}() {
                                    var fromTimeStamp = document.getElementById('fromTimeRangeSelectElement{{ n.reservation.id }}');
                                    var fromTime = new Date(parseInt(fromTimeStamp.value));
                                    var toTimeStamp = document.getElementById('toTimeRangeSelectElement{{ n.reservation.id }}');
                                    var toTime = new Date(parseInt(toTimeStamp.value));
                                    document.getElementById('#tableSelect{{ n.reservation.id }}').removeAttribute("hidden");
                                    console.log(fromTime, toTime)
                                    let select = document.createElement('select');
                                    select.setAttribute("class", "form-control")
                                    select.setAttribute("id", "tableSelectElement{{ n.reservation.id }}")
                                    select.setAttribute("name", "toDate");
                                    {#select.setAttribute("onchange", "getTables{{ n.reservation.id }}()");#}
                                    console.log(rsvpObj)
                                    for (r in rsvpObj) {
                                        var opt = document.createElement('option');
                                        if () {
                                            opt.value = selectedDate.getTime();
                                            opt.innerHTML = timeRangeObj[t].time;
                                            select.appendChild(opt);
                                            count++;
                                        }
                                    }

                                }

                                {#var result{{ n.reservation.id }} = {{ tables }};#}
                                {##}
                                {#var $table{{ n.reservation.id }} = $("#table{{ n.reservation.id }}");#}
                                {#$.each(result{{ n.reservation.id }}, function () {#}
                                {#    $table{{ n.reservation.id }}.append($("<option />").val(this.id).text(this.tableName));#}
                            </script>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    {#    modal for refuse from new reservations #}
    {% for n in new %}
        <div class="modal fade" id="reservationCancel{{ n.reservation.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Cancel Reservation - <b
                                class="text-danger">{{ n.reservation.table.tableName }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'cancel-reservation' n.reservation.id %}" novalidate>
                            <div class="form-group">
                                <h5>Remarks:</h5>
                                <textarea class="form-control" name="remarks"></textarea>
                            </div>
                            <input type="number" value="{{ n.reservation.id }}" hidden>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-block waves-effect waves-light">Cancel
                                Reservation
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {#    modal for refuse from confirmed res #}
    {% for c in confirmed %}
        <div class="modal fade" id="reservationCancel{{ c.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Cancel Reservation - <b
                                class="text-danger">{{ c.table.tableName }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'cancel-reservation' c.id %}" novalidate>
                            <div class="form-group">
                                <h5>Remarks:</h5>
                                <textarea class="form-control" name="remarks"></textarea>
                            </div>
                            <input type="number" value="{{ c.id }}" hidden>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-block waves-effect waves-light">Cancel
                                Reservation
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
